<!doctype html>
<html ng-app="SPCall">
<head>
   <title>SPCall</title>
   <script src="https://cdn.bootcss.com/angular.js/1.4.3/angular.min.js"></script>
   <script src="SPCall.js"></script>
   <!-- <script src="SPInput.json"></script> -->
</head>

<body>
   <div ng-app="SPCall" ng-controller="SPCtrl">
      <!-- drop dow list TBC -->
      <table ng-repeat="i in sps">
         <!-- <tr >
            <td>{{ i.name }}</td> -->
         <!-- <td>{{ i.listOfColumns }}</td> -->
         <!-- </tr> -->
      <!-- <tr ng-repeat="j in i.listOfColumns">
            <td>{{ j.seq }}</td>
            <td>{{ j.name }}</td>
            <td>{{ j.define }}</td>
            <td>{{ j.length }}</td>
            <td>{{ j.optional }}</td>
      </tr> -->
         <tr>
            <td>
               <!-- <p>use create input tag</p> -->
               call {{i.name}} (
                  <div ng-repeat="j in i.listOfColumns">
                   <!-- <input type="checkDefine()" placeholder={{j.name}} ng-model="$parent.i.listOfColumns[$index].{{j.name}}">, -->
                   <!-- <p ng-hide="{{ checkType(j.define) }}" ng-value='"'> -->
                        <!-- <div>"</div> -->
                     <div style="display:inline" ng-if="j.define == 'text'">"</div><!--
                     --><input type="{{j.define}}" placeholder={{j.name}} ng-model="$parent.LOCs[$index].val"><!--
                     --><div style="display:inline"  ng-if="j.define == 'text'">"</div><!--
                     --><div style="display:inline" ng-if="$index != (i.listOfColumns.length-1)">,</div>
                  </div>
               );
            </td> 
         </tr>
         <hr>
         <tr>
            <td>
                  <!-- <p>use create input tag</p> -->
               call {{i.name}} (
                  <div ng-repeat="j in i.listOfColumns">
                      <!-- <input type="checkDefine()" placeholder={{j.name}} ng-model="$parent.i.listOfColumns[$index].{{j.name}}">, -->
                      <!-- <p ng-hide="{{ checkType(j.define) }}" ng-value='"'> -->
                           <!-- <div>"</div> -->
                     <div style="display:inline" ng-if="j.define == 'text'">"</div><!--
                     -->{{ LOCs[$index].val }}<!--
                     --><div style="display:inline"  ng-if="j.define == 'text'">"</div><!--
                     --><div style="display:inline" ng-if="$index != (i.listOfColumns.length-1)">,</div>
                  </div>
               );
            </td> 
         </tr>
      </table>
      <hr>
   <!-- <p ng-repeat="i in sps">
      {{ i.seq }}
      {{ i. listOfColumns }}
   </p>
   <hr> -->
      <!-- <table>
         <tr ng-repeat="i in lsps">
            <td>{{ i.name }}</td>
         </tr>
      </table> -->
   </div>
</body>
</html>