<!doctype html>
<html ng-app="demo">
<head>
   <title>Hello Webconf</title>
   <script src="https://cdn.bootcss.com/angular.js/1.4.3/angular.min.js"></script>
   <script src="webconf.js"></script>
</head>
<body ng-controller="ExampleCtrl">
   <h1>Person List</h1>
    
   <!-- <input type="text" ng-model="what" ng-value="bb"><br /> -->

      <!-- <fieldset>
         <legend>Create Person</legend>
         <input type="text" ng-model="name" placeholder="Name" value="bb"><br />
         <input type="number" ng-model="age" placeholder="Age" ><br />
         <input type="text" ng-model="title" placeholder="Title" ><br />
         <button type="button" ng-click="addPerson()">Add Person</button>
      </fieldset> -->
    
      <!-- <table border="1" cellpadding="0"> -->
      <button type="button" ng-click="addPerson()">Add Person</button>
      <table border="0">
         <thead>
            <tr>
               <th>Type</th>
               <th>Hide Button</th>
               <th>Button Description</th>
               <th>Elements for the types</th>
               <th>Remove record</th>
               <!-- <th>Insert</th> -->
               <!-- <th>Update</th> -->
               <!-- <th>Delete</th> -->
               
            </tr>
         </thead>
         
         <body>
            <!-- <tr ng-repeat="person in people"> -->
            <tr ng-repeat="person in model track by $index">
               <!-- <td>{{ person.name }}</td>
               <td>{{ person.age }}</td>
               <td>{{ person.title }}</td> -->
               <td>
                  <!-- <input type="text" ng-model="pname" placeholder="Name" ng-value="person.name"><br /> -->
                  <!-- <input type="text" placeholder="Name" ng-value="person.name"><br /> -->
                  <input type="text" placeholder="1-folder, 3-file, 4-program, 5-putty, 2-all" ng-model="$parent.model[$index].type"><br />
               </td>
               <td>
                  <!-- <input type="number" ng-model="page" placeholder="Age" ><br /> -->
                  <!-- <input type="number" placeholder="Age" ng-value="person.age"><br /> -->
                  <input type="text" placeholder="N-Hide, Y-Not hide" ng-model="$parent.model[$index].hb"><br />
               </td>
               <td>
                  <!-- <input type="text" ng-model="ptitle" placeholder="Title" ><br /> -->
                  <!-- <input type="text" placeholder="Title" ng-value="person.title"><br /> -->
                  <input type="text" placeholder="Button Description" ng-model="$parent.model[$index].bdesc"><br />
               </td>
               <td>
                  <!-- <input type="text" ng-model="ptitle" placeholder="Title" ><br /> -->
                  <!-- <input type="text" placeholder="Title" ng-value="person.title"><br /> -->
                  <input type="text" placeholder="Input if: 1-folder path, 3-file location, 4-program exe path, 5-putty config file, 2-open All" ng-model="$parent.model[$index].ele"><br />
               </td>
               <!-- <td> -->
                  <!-- <button type="button" ng-click="addPerson()" ng-hide="checkHide($index)">Add Person</button> -->
                  <!-- <button type="button" ng-click="addPerson($index)" ng-hide="checkHide($index)">Add Person</button>
               </td> -->
               <!-- <td>
                  <button type="button" ng-click="updatePerson($index)" ng-hide="!checkHide($index)">Update Person</button>
               </td> -->
               <td>
                  <!-- <button type="button" ng-click="removePerson($index)" ng-hide="!checkHide($index)">Remove Person</button> -->
                  <button type="button" ng-click="removePerson($index)">Remove</button>
               </td>
            </tr>
         </body>
      </table>

      <hr>
      <table>
         <tr ng-repeat="x in model">
            <!-- <td>{{ x.name }}</td>
            <td>{{ x.age }}</td>
            <td>{{ x.title }}</td> -->
            <td>{{ x.type }},{{ x.hb }},{{ x.bdesc }},{{ x.ele }}</td>
            <!-- <td>{{ x.age }}</td>
            <td>{{ x.title }}</td> -->
         </tr>
      </table>
      <button type="button" ng-click="cpToClipBoard()">Copy to ClipBoard</button>

      <hr>
      <!-- <p>{{model[0].name }} age is a {{ model[0].age }}, and title is {{model[0].title}}</p> -->
      <input type="file" id="files" style="display: none" onchange="fileImport();">
      <button type = "button" ng-click="readfile()">Read file</button>
      <div id="aa"></div>

   </body>
</html>